* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.navColor {
  background-color: #7289da;
}

#titleText {
  font-size: 125%;
  margin-left: 10px;
}

body {
  background-color: #2c2f33;
}

.staffTitle {
  font-family: "Squada One", cursive;
  color: #7289da;
  text-align: center;
}

.discrim {
  color: grey;
}

.staffCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #26292d;
  width: 300px;
  height: auto;
  text-align: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 300px;
}
.blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
